<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <h1 class="heading">Latest News</h1>
    </div>
    <hr>
    <h3>Tuesday 5,September 2021</h3>
    <hr>
    <!-- <div>
        <h1 class="article">
            Pakistan
        </h1>
    </div> -->

    <div>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquam voluptates doloremque
            vitae quas minus quisquam enim error temporibus. Nisi facilis quasi adipisci nihil atque, expedita eos rerum
            facere quod accusantium quas laboriosam, sunt temporibus porro tempora quis ratione pariatur dolorem in
            similique. Aliquam nobis, reprehenderit perferendis cumque natus temporibus recusandae cum doloremque illo
            et dolorem labore reiciendis inventore architecto alias aliquid neque sapiente quo. Incidunt tempora sit,
            error velit consequatur atque dignissimos reprehenderit suscipit expedita quo? Alias, excepturi adipisci
            praesentium reprehenderit quaerat culpa voluptates? Adipisci cupiditate praesentium iste perferendis? Iure
            cumque ducimus nobis nostrum corrupti, delectus consectetur fugit, magni odio placeat ratione laudantium
            omnis nam. Sequi officiis odit ut rem consequatur enim possimus, incidunt magni sapiente commodi, nam autem
            vero dolorem quia laborum consectetur voluptas exercitationem aliquam harum. Repellendus, commodi ratione
            maxime deserunt aperiam itaque laborum voluptatibus quae, dolorum minima quia. Ab perspiciatis est modi
            nostrum nam explicabo necessitatibus nisi, ipsa a, neque sequi illum harum placeat. Ex, quas mollitia
            temporibus dolore sint nemo non laudantium, cum maiores, unde fugiat aspernatur exercitationem architecto
            consequatur deserunt quidem. Optio, veniam. Maxime sint cum quae consequatur dolor aspernatur eligendi
            perspiciatis impedit culpa saepe, fuga est aliquid! Facere autem optio laudantium debitis! Iure.</p>
    </div>
    <div class="vl">
    </div>
    <div class="news">
    </div>
    <div class="paper">
        <h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ut repudiandae dolorum error dolor amet
                inventore recusandae. Rerum, illum repudiandae."</p>
        </h2>
    </div>
    <div class="p2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, tempora ullam soluta non quasi aspernatur,
            dicta blanditiis tenetur possimus magnam fugiat veritatis maiores accusamus sint, repellat asperiores
            molestiae. Cum obcaecati ad nemo sapiente culpa non laudantium consequatur repudiandae placeat numquam, ipsa
            tempore quod in dignissimos, repellat, illo incidunt maxime iure accusamus repellendus amet dolore! Quaerat
            suscipit illum voluptas error deleniti inventore molestiae nobis ullam! Cum ab optio temporibus commodi
            voluptates, dolorum doloribus mollitia quia suscipit tenetur distinctio iste dolorem laboriosam ullam odio
            nemo earum vitae sit, voluptatum molestias cupiditate, soluta reprehenderit veniam! Veritatis iusto harum
            voluptates obcaecati quis numquam in labore esse quae. Et officia molestias cumque est temporibus fugiat
            cupiditate quam rem odit, numquam optio at enim hic quibusdam.</p>
    </div>
    
    


    <div class="p3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia suscipit animi molestias, facilis ipsum
            labore dignissimos dolorem totam accusamus exercitationem. Iure quae doloremque accusamus repellat saepe
            omnis possimus, amet sint alias nesciunt temporibus voluptate magni repellendus modi assumenda in id
            consectetur vero. Fuga eos optio officiis veniam rerum dignissimos odio voluptates sequi nostrum, quam
            deserunt beatae, officia tempore veritatis quis error aperiam! Quisquam facere, maiores vitae debitis
            aspernatur temporibus ipsum ducimus architecto explicabo consequatur optio a et nobis eligendi modi vel
            quibusdam voluptates quam iste voluptatibus, praesentium possimus! Officiis, minus officia? Optio nam labore
    </div>
    <div class="bmw">
        <h1>Bmw</h1>
        <ul>
            <li>M3</li>
            <li>M4</li>
            <li>M5</li>
        </ul>
        
    </div>
    <div class="benz">
        <h1>
            Mercedes Benz
        </h1>
    </div>
    <div class="p4">
        <p>rem excepturi, ea incidunt facilis nobis quo illo ut mollitia voluptas dolorum iste quis! Nesciunt, libero
            numquam possimus quidem asperiores veritatis ipsum, quia dolorum ut at magnam cum quisquam, eligendi
            mollitia neque itaque hic molestiae tempore repudiandae non rem ipsam soluta? Perspiciatis iste qui suscipit
            doloremque quaerat veritatis perferendis illum. Veritatis repellendus quos impedit enim accusamus?</p>
    </div>

    
    <div class="cat">
    </div>
    <div class="air">
    </div>
</body>

</html>