.heading,h3{
    font-family: sans-serif;
    text-align: center;
}

.article{
    font-family: sans-serif;
}

.vl{
    border-left: 2px solid rgb(0, 0, 0);
    height: 170px;
    margin-left: 395px;
    margin-right: 0px;
    margin-top: -16%;
}

.paragraph{
    column-count: 3;
}

.news{
    border-left: 2px solid rgb(0, 0, 0);
    height: 170px;
    margin-left: 795px;
    margin-right: 0px;
    margin-top: -14%;
}

.paper{
    font-family: sans-serif;
}

.p2{
    column-count: 3;
}

.air{
    border-left: 2px solid rgb(0, 0, 0);
    height: 400px;
    margin-left: 390px;
    margin-right: 0px;
    margin-top: -33%;
}

.cat{
    border-left: 2px solid rgb(0, 0, 0);
    height: 400px;
    margin-left: 800px;
    margin-right: 0px;
    margin-top: -32%;
}

.bmw{
    font-family: sans-serif;
}

.p3{
    column-count: 3;
}

.p4{
    column-count: 3;
}

.benz{
    margin-left: 35%;
    margin-top: -7%;
    font-family: sans-serif;
}